:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --slate: #434455;
}

/* General Styles*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate, #434455);
}

.list {
  list-style: none;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  color: var(--iris, #4d5ae5);
}

.button {
  font-family: inherit, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navyblue, #2e2f42);
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: var(--slate, #434455);
}

/* Header */

.studio {
  color: var(--navyblue, #2e2f42);
}

.item {
  color: var(--slate, #434455);
  text-decoration: none;
}

.page {
  font-weight: 500;
  color: var(--navyblue, #2e2f42);
  text-decoration: none;
}

.page:hover {
  color: var(--ocean, #404bbf);
}

.page:focus {
  color: var(--ocean, #404bbf);
}

.page:active {
  color: var(--ocean, #404bbf);
}

.current {
  color: var(--ocean, #404bbf);
}

/* Hero Section - Section 1 */

.hero {
  background: var(--navyblue, #2e2f42);
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: var(--white, #fff);
}

.hero .primary {
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
}

.hero .primary:hover {
  background: var(--ocean, #404bbf);
}

.hero .primary:focus {
  background: var(--ocean, #404bbf);
}

.hero .primary:active {
  background: var(--ocean, #404bbf);
}

/* Our Team - Section 4 */

.bg-team {
  background: var(--cloud, #f4f4fd);
}

.name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: var(--slate, #434455);
}

/* Footer */

.page-footer {
  background: var(--navyblue, #2e2f42);
}

.studio-footer {
  color: var(--cloud, #f4f4fd);
}

.footer-description {
  color: var(--cloud, #f4f4fd);
}

/* Portfolio Page */

.filter {
  background: var(--cloud, #f4f4fd);
  color: var(--iris, #4d5ae5);
}

.filter:hover {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
}

.filter:focus {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
}

.filter:active {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
}

.filters .current {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
}

.name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--navyblue, #2e2f42);
}

.type {
  color: var(--slate, #434455);
}

.project {
  text-decoration: none;
}
